mqtt-sparkplug-graph.json
[{"id":"4301f0e9.f6d7e","type":"mqtt in","z":"5fd009a3.241d08","name":"spBv1.0/MIMIC/#","topic":"spBv1.0/MIMIC/#","qos":"2","broker":"b8aa226a.e08cd","x":95,"y":426,"wires":[["84268e8d.2d463","78fad91a.10b2c8"]]},{"id":"7607b6ed.0b8ab8","type":"debug","z":"5fd009a3.241d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1273,"y":576,"wires":[]},{"id":"dd34aa33.99f5e8","type":"ui_chart","z":"5fd009a3.241d08","name":"","group":"44e7768.4fdd888","order":4,"width":"20","height":"8","label":"temp","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1310,"y":516,"wires":[[],[]]},{"id":"9da78a74.5ca6a8","type":"inject","z":"5fd009a3.241d08","name":"Clear statistics","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":652,"y":236,"wires":[["dd34aa33.99f5e8","d0c8c074.25b0d","79556b52.e54844","1ff0b44b.f38f0c","98098c06.6ebb6","4e2a2221.288edc","3a91edfb.235052"]]},{"id":"84268e8d.2d463","type":"decode-protobuf","z":"5fd009a3.241d08","name":"Sparkplug B","protofile":"/nfs/dmb/home/uwe/Downloads/sparkplug_b.proto","messagetype":"com.cirruslink.sparkplug.protobuf.Payload","x":232,"y":464,"wires":[["601f841f.ad617c"]]},{"id":"e9abc0a.5fd0a4","type":"comment","z":"5fd009a3.241d08","name":"Sparkplug B telemetry","info":"","x":510,"y":354,"wires":[]},{"id":"601f841f.ad617c","type":"switch","z":"5fd009a3.241d08","name":"DDATA vs. NBIRTH vs. DBIRTH","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"DDATA","vt":"str","case":false},{"t":"regex","v":"NBIRTH","vt":"str","case":false},{"t":"regex","v":"DBIRTH","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":466,"y":476,"wires":[["f86e34df.4cd098"],["190a2521.6779fb"],["1b79fa48.af2616"],["1d622a5d.6b5876"]]},{"id":"1252507d.46b96","type":"change","z":"5fd009a3.241d08","name":"extract temp value","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.metrics[0].int_value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":985,"y":508,"wires":[["7607b6ed.0b8ab8","dd34aa33.99f5e8"]]},{"id":"190a2521.6779fb","type":"counter","z":"5fd009a3.241d08","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":948,"y":573,"wires":[["47645ca4.27aec4"]]},{"id":"79556b52.e54844","type":"ui_gauge","z":"5fd009a3.241d08","name":"","group":"44e7768.4fdd888","order":2,"width":"2","height":"2","gtype":"gage","title":"NBIRTH","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":643,"wires":[]},{"id":"47645ca4.27aec4","type":"change","z":"5fd009a3.241d08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1116,"y":620,"wires":[["79556b52.e54844"]]},{"id":"1ff0b44b.f38f0c","type":"ui_gauge","z":"5fd009a3.241d08","name":"","group":"44e7768.4fdd888","order":3,"width":"2","height":"2","gtype":"gage","title":"DBIRTH","label":"units","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1315,"y":733,"wires":[]},{"id":"1b79fa48.af2616","type":"counter","z":"5fd009a3.241d08","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":945,"y":666,"wires":[["f430c207.fee7f"]]},{"id":"f430c207.fee7f","type":"change","z":"5fd009a3.241d08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":711,"wires":[["1ff0b44b.f38f0c"]]},{"id":"7db5bfae.8523f","type":"comment","z":"5fd009a3.241d08","name":"MQTT input node","info":"Put Ignition node here to collect telemetry from\nIgnition, else MessageSight.\n","x":121,"y":354,"wires":[]},{"id":"98098c06.6ebb6","type":"ui_gauge","z":"5fd009a3.241d08","name":"","group":"44e7768.4fdd888","order":1,"width":"2","height":"2","gtype":"gage","title":"Msg/sec","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1308,"y":447,"wires":[]},{"id":"78fad91a.10b2c8","type":"counter","z":"5fd009a3.241d08","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":955,"y":425,"wires":[["e5a85c9b.d60a9"]]},{"id":"e5a85c9b.d60a9","type":"change","z":"5fd009a3.241d08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1134,"y":462,"wires":[["98098c06.6ebb6"]]},{"id":"f86e34df.4cd098","type":"switch","z":"5fd009a3.241d08","name":"10 sensors only","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"F4:00:0[1-9A]","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":478,"wires":[["1252507d.46b96"]]},{"id":"2f487c7f.903364","type":"inject","z":"5fd009a3.241d08","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":694,"y":299,"wires":[["9c89867.a528778"]]},{"id":"9c89867.a528778","type":"function","z":"5fd009a3.241d08","name":"msg.reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":822,"y":356,"wires":[["78fad91a.10b2c8"]]},{"id":"4e2a2221.288edc","type":"function","z":"5fd009a3.241d08","name":"msg.reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":0,"x":697,"y":621,"wires":[["190a2521.6779fb","1b79fa48.af2616","1d622a5d.6b5876"]]},{"id":"1d622a5d.6b5876","type":"counter","z":"5fd009a3.241d08","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":"1","x":934,"y":763,"wires":[["9095706b.b8da7"]]},{"id":"9095706b.b8da7","type":"change","z":"5fd009a3.241d08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1099,"y":808,"wires":[["3a91edfb.235052"]]},{"id":"3a91edfb.235052","type":"ui_gauge","z":"5fd009a3.241d08","name":"","group":"44e7768.4fdd888","order":3,"width":"2","height":"2","gtype":"gage","title":"UNKNOWN","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1327,"y":817,"wires":[]},{"id":"b8aa226a.e08cd","type":"mqtt-broker","z":"","name":"MessageSight","broker":"192.9.200.227","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"44e7768.4fdd888","type":"ui_group","z":"","name":"Telemetry","tab":"3e5f9d35.c68732","disp":true,"width":"20","collapse":false},{"id":"3e5f9d35.c68732","type":"ui_tab","z":"","name":"Sparkplug B","icon":"dashboard","order":17}]